workflows/gform-airtable-slack/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-form-leads",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -48
      ],
      "id": "42ed163e-d7ec-4213-a5f5-5b3ae563f253",
      "name": "Webhook",
      "webhookId": "63cb2801-4026-42e1-91f3-60e0f40f79bf"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appra0n7mTPmyqHgG",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appra0n7mTPmyqHgG"
        },
        "table": {
          "__rl": true,
          "value": "tblbFnKGSS5YcW04S",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appra0n7mTPmyqHgG/tblbFnKGSS5YcW04S"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.Name }}",
            "Email": "={{ $json.body.Email }}",
            "Company": "={{ $json.body.Company }}",
            "Phone": "={{ $json.body.Phone }}",
            "Message": "={{ $json.body.Message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        96,
        -144
      ],
      "id": "f0fc4640-03a6-4a12-b8ba-85266271b642",
      "name": "Create a record"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d4ec03c8-8813-4187-a912-ef0eebaeac9a",
              "leftValue": "={{ $json.body.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0c7f96ca-98b5-4d39-ac8f-a35bc1d32098",
              "leftValue": "={{ $json.body.Email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -48
      ],
      "id": "0dbf23f4-9f9d-4095-85fa-7a562b12a7cf",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09SQ8JJSAC",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "text": "=*Invalid Form Submission*  Missing required fields. Check webhook configuration.  Data received: {{ JSON.stringify($json.body, null, 2) }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        96,
        48
      ],
      "id": "94d22ca2-4b15-4f54-a673-1d8248835eea",
      "name": "Error Notification",
      "webhookId": "28d9fc7d-2325-49db-8682-0cacc60e0843"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09SQ8JJSAC",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "text": "=*New Lead Received!*  \n*Name:* {{ $('Webhook').item.json.body.Name }} \n*Email:* {{ $('Webhook').item.json.body.Email }} \n*Company:* {{ $('Webhook').item.json.body.Company }} \n*Phone:* {{ $('Webhook').item.json.body.Phone }}  \n*Message:* {{ $('Webhook').item.json.body.Message }}  \n--- _Submitted: {{ $now.toFormat('MMM dd, yyyy - hh:mm a z') }}_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        304,
        -144
      ],
      "id": "b1cc6fbd-d39f-4b94-a15f-3081b989c60b",
      "name": "Send a message",
      "webhookId": "019003ed-a775-4d42-a17b-918b2efe055b"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED"
  }
}